nav {
  color: white;
}

.titulo {
  font-size: 5rem;
}

.subtitulo {
  font-size: 1rem;
  font-weight: lighter;
}

.Inicio {
  color: white;
  background-color: var(--main-color);
  padding: 3rem;
  width: 100%;
  font-family: sans-serif;

  animation: appear;
  animation-duration: 1.5s;

  border-radius: 1rem;
}

.Inicio-boton {
  font-weight: normal;
}

.Inicio-arriba {
  display: flex;
  margin: 2rem auto auto auto;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}

.Inicio-medio {
  margin: 10rem auto auto auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Inicio-abajo {
  margin: 4rem auto auto auto;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: sans-serif;
}

.Link {
  color: white;
  transition: 1s;
}

.Link:hover {
  transition: 1s;
  text-decoration: underline;
  cursor: pointer;
  color: var(--complementary-color-2);
}

.Login {
  background-color: var(--main-color);
  padding: 3rem;
  border-radius: 1rem;
  color: white;
  font-family: sans-serif;

  animation: appear;
  animation-duration: 1.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login-usuario {
  margin-top: 2rem;
}

.Login-usuario > p {
  margin-bottom: 1rem;
}

.Login-contraseña {
  margin-top: 2rem;
}

.Login-contraseña > p {
  margin-bottom: 1rem;
}

.Login-mitad {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Registro {
  background-color: var(--main-color);
  font-family: sans-serif;
  color: white;

  padding: 2rem;
  border-radius: 10px;

  animation: appear;
  animation-duration: 1.5s;
}

.Registro * {
  margin-top: 0.1rem;
}

.Registro-form {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Registro-form > p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Publicaciones {
}

.Publicaciones-navbar {
  background-color: var(--main-color);
  color: white;
  padding: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 1rem;
}

.Publicaciones-saludo {
  margin-top: 2rem;
  padding: 2rem;
  font-size: 3rem;
  font-family: sans-serif;
  background-color: var(--main-color);
  color: white;
  border-radius: 1rem;
}

.Perfil {
  background-color: gray;
  border-radius: 3rem;
  margin-top: 1rem;
  margin-right: 2rem;
  width: 4rem;
  height: 4rem;
}

.Publicaciones-feed {
  margin-top: 1rem;
  padding: 1rem;
  font-family: sans-serif;
  background-color: var(--main-color);
  border-radius: 1rem;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p {
  margin: 1rem 0;
}
