# Visual Studio Code

.vscode

# Intellij IDEA

.idea
*.iml

# Mac

.DS_Store

# node carpetas

node_modules

hola

# Ract.js

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
