h1 {
  font-family: sans-serif;
  font-weight: bolder;

  color: white;
  width: 30rem;

  position: absolute;

  animation-name: intro;
  animation-duration: 2s;
}

.boton {
  font-size: 1rem;

  background-color: rgba(0, 0, 0, 0);
  border: 2.5px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);

  padding: 10px;
  border-radius: 15px;

  transition: 2.5s;
  animation-name: intro;
  animation-duration: 1s;
}

.boton:hover {
  transition: 0.5s;
  background-color: rgba(0, 163, 255, 0.5);
}

.subtitulo {
  font-family: sans-serif;
  font-weight: normal;

  color: white;

  animation-name: intro;
  animation-duration: 2s;
}

.Link {
  color: rgba(0, 163, 255, 1);
  transition: 1s;
}

.Link:hover {
  transition: 1s;
  text-decoration: underline;
  color: rgba(112, 0, 255, 1);
}

.subtitulo {
  font-family: sans-serif;
  font-weight: normal;

  color: white;

  animation-name: intro;
  animation-duration: 2s;
}

@keyframes intro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
