:root {
  /*color palletes*/
  --main-color: rgba(29, 24, 58, 1);
  --complementary-color-1: rgba(112, 0, 255, 1);
  --complementary-color-2: rgba(0, 163, 255, 1);
  --complementary-color-3: rgba(255, 0, 0, 1);
  /*font sizes*/
  --size-paragraph: 24px;
  --size-middle: 64px;
  --size-max: 120px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
